{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Корзина</h1>
<table class="table table-bordered">
    <thead class="table-active">
        <tr>
            <th scope="col" colspan="2" class="w-25">Внешний вид</th>
            <th scope="col" colspan="6" class="w-75">Описание товара</th>
        </tr>
    </thead>
    {% for item in products_list%}
    <tbody>
        <tr>
            <td colspan="2"><img src={{item.picture}} width="300" height="300"></td>
            <td colspan="6">
                <h6 class="list-group-item-heading">Название товара:</h6>
                <p class="list-group-item-text">{{item.title}}</p>
                <h6 class="list-group-item-heading">Описание товара:</h6>
                <p class="list-group-item-text">{{item.description}}</p>
                <h6 class="list-group-item-heading">Производитель:</h6>
                <p class="list-group-item-text">{{item.producer}}</p>
                <h6 class="list-group-item-heading">Цена:</h6>
                <p class="list-group-item-text">{{item.price}}</p>
                <h6 class="list-group-item-heading">Количество:</h6>
                <p class="list-group-item-text">1</p>
                <h6 class="list-group-item-heading">Преимущества покупки товара:</h6>
                <p class="list-group-item-text">{{item.advantage}}</p>


                {% if current_user.is_authenticated %}
                    {% if current_user.id == user_id %}
                        <a href="/buy_product/{{current_user.id}}/{{ item.id }}" class="btn btn-success">
                            Купить
                        </a>

                        <a href="/cancel_product/{{current_user.id}}/{{ item.id }}" class="btn btn-danger">
                            Удалить из корзины
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% if current_user.is_authenticated %}
    {% if current_user.id == user_id %}
        {% if products_list[0] %}
        <a href="/buy_all/{{current_user.id}}" class="btn btn-success">
            Купить всё
        </a>
        {% else %}
            <a href="/buy_all/{{current_user.id}}" class="btn btn-success disabled" aria-disabled="true">
            Купить всё
        </a>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}