{% extends "base.html" %}

{% block content %}
<h1>Добавление товара</h1>
<script>
    function getName (str){
        if (str.lastIndexOf('\\')){
            var i = str.lastIndexOf('\\')+1;
        }
        else{
            var i = str.lastIndexOf('/')+1;
        }
        var filename = str.slice(i);
        var uploaded = document.getElementById("fileformlabel");
        uploaded.innerHTML = filename;
    }
    </script>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.picture.label }}<br>
        <div class="fileform">
            <div class="selectbutton">Обзор</div>
            <input id="upload" type="file" name="picture" onchange="getName(this.value);"/>
        </div>
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {% if category == None %}
            {{ form.category.label }}<br>
            <select name='category' class="form-control form-select">
                <option selected>{{categories[0].title}}</option>
                {% for cat in categories %}
                    <option value={{cat.id}}>{{cat.title}}</option>
                {% endfor %}
            </select>
        {% else %}
            {{ form.category.label }}<br>
            <select name='category' class="form-control form-select">
                <option selected>{{category}}</option>
                {% for cat in categories %}
                    <option value={{cat.id}}>{{cat.title}}</option>
                {% endfor %}
            </select>
        {% endif %}
    </p>
    <p>
        {{ form.producer.label }}<br>
        {{ form.producer(class="form-control") }}<br>
        {% for error in form.producer.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control", type="number", placeholder="0,00", min="0", step="0.01") }}<br>
        {% for error in form.price.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.count.label }}<br>
        {{ form.count(class="form-control", type="number", min="0") }}<br>
    </p>
    <p>
        {{ form.advantage.label }}<br>
        {{ form.advantage(class="form-control") }}<br>
        {% for error in form.advantage.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}

</form>

{% endblock %}