{% extends "base.html" %}

{% block content %}
<h1 class="text-left">Данные пользователя</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.phone.label }}<br>
        {{ form.phone(class="form-control") }}<br>
        {% for error in form.phone.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
       {{ form.password_again.label }}<br>
       {{ form.password_again(class="form-control") }}<br>
       {% for error in form.password_again.errors %}
           <p class="alert alert-danger" role="alert">
               {{ error }}
           </p>
       {% endfor %}
    </p>
    {% if current_user.is_admin %}
        <p>
            {{ form.is_admin() }} {{ form.is_admin.label }}
        </p>
    {% endif %}

    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
        <a class="btn btn-primary " href="/">Отмена</a>
    </p>
    {{message}}
</form>

{% endblock %}